/*--Allgemein--*/
body {
    padding: 0;
    margin: 0;
    font-family: 'Lato-Regular';
    background: #fff;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

@font-face {
    font-family: 'Lato-Regular';
    src: url(../fonts/Lato-Regular.ttf) format('truetype');
}

h1, h2 {
    margin: 0;
}

p {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
}

/*--Der Header-Abschnitt fängt ab hier an--*/
.header {
    background-color: #cf9a1d;
    padding: 2em 0 1em 0;
    position: relative;
}

.header-top p {
    float: left;
    width: 33.333%;
    margin-top: 1.4em;
}

span.glyphicon.glyphicon-earphone {
    font-size: 12px;
    margin-right: 5px;
    color: #fff;
}

.logo {
    float: left;
    width: 33.333%;
    text-align: center;
}

/*-- Die Navigation fängt ab hier an--*/
.navigation {
    width: auto;
    margin: 3em auto 0;
}

.navbar {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
}

.nav-wil {
    padding: 0;
}

.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    background: none;
    color: #fff;
    font-size: 1.1em;
    letter-spacing: 1px;
    font-weight: 400;
}

.nav > li > a {
    padding: 0 !important;
}

.navbar-nav {
    background: #cf9a1d;
    float: none;
    margin: 0;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: #cf9a1d;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #000000;
    background: none;
}

.navbar-default .navbar-collapse {
    background: #ffffff;
    border-color: #000000;
}

.navbar {
    margin-bottom: 0px;
    border: none;
    min-height: 25px;
}

.navbar-nav > li {
    text-align: center;
    margin: 0 38px;
}

.navbar-default {
    background-color: #cf9a1d;
    border-color: #fff;
}

/*-- Der Footer-Abschnitt fängt ab hier an --*/
.footer {
    position: relative;
}

.footer-top {
    background: #cf9a1d;
    padding: 4em 0;
}

.footer-bottom {
    background: #131313;
    padding: 1.8em 0;
}

.footer-nav {
    float: right;
}

/*-- Typo--*/
.short-codes {
    padding: 2em 0;
}

/*-- Im Folgenden ist der Responsive-Design-Abschnitt zu finden--*/

@media screen and (max-width: 1366px) {

    .footer-top {
        padding: 3em 0;
    }

    .footer:before {
        top: -17.5%;
    }
}

@media screen and (max-width: 1280px) {
    .header {
        padding: 1.5em 0 0.5em 0;
    }

}

@media screen and (max-width: 1080px) {
    .navbar-nav > li {
        margin: 0 25px;
    }

}

@media screen and (max-width: 1024px) {
    .navbar-default .navbar-nav > li > a {
        font-size: 1.05em;
    }

    .navbar-nav > li {
        margin: 0 26px;
    }

    .navigation {
        margin: 2.5em auto 0;
    }

    h1.heading {
        font-size: 2.3em;
    }

    .blog-to {
        margin-top: 2em;
    }
}

@media screen and (max-width: 991px) {
    .navbar-nav > li {
        margin: 0 12px;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 1em;
    }

    .navbar-nav > li {
        margin: 0 19px;
    }

    .navigation {
        width: 90%;
    }

    .header-top p {
        margin-top: 1.1em;
    }

    .footer-nav {
        text-align: Center;
        width: 100%;
    }

    .footer-grid {
        width: 33.333%;
        float: left;
        padding: 0 10px
    }

    .footer:before {
        top: -15.2%;
    }

    h1.heading {
        font-size: 2.2em;
    }

    .md-in {
        width: 50%;
        float: left;
    }
}

@media screen and (max-width: 853px) {
    .navbar-nav > li {
        margin: 0 12px;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 1em;
    }

    .navbar-nav > li {
        margin: 0 19px;
    }

    .navigation {
        width: 90%;
    }

    .header-top p {
        margin-top: 1.1em;
    }

    .footer-nav {
        text-align: Center;
        width: 100%;
    }

    .footer-grid {
        width: 33.333%;
        float: left;
        padding: 0 10px
    }

    .footer:before {
        top: -15.2%;
    }

    h1.heading {
        font-size: 2.2em;
    }

    .md-in {
        width: 50%;
        float: left;
    }
}

@media screen and (max-width: 800px) {
    .navbar-default .navbar-nav > li > a {
        font-size: 1em;
    }

    .navbar-nav > li {
        margin: 0 19px;
    }

    .navigation {
        width: 90%;
    }

    .logo h1 a {
        font-size: 1.2em;
    }

    .header-top p {
        margin-top: 1.1em;
    }

    .view .content {
        width: 170px;
        height: 170px;
    }

    .footer-nav {
        text-align: Center;
        width: 100%;
    }

    .footer-grid {
        width: 33.333%;
        float: left;
        padding: 0 10px
    }

    .footer:before {
        top: -15.2%;
    }

    h1.heading {
        font-size: 2.2em;
    }

    .md-in {
        width: 50%;
        float: left;
    }

}

@media screen and (max-width: 720px) {
    .view .content {
        width: 159px;
        height: 159px;
    }

    .navbar-nav > li {
        margin: 15px 0px;
    }

    .navigation {
        width: 100%;
        margin: 1.5em auto 0;
    }
}

@media screen and (max-width: 640px) {
    .navigation {
        width: 100%;
        margin: 1em auto 0;
    }

    .header {
        padding: 1.5em 0 0em 0;
    }

    .navbar-nav > li {
        margin: 15px 0;
    }

    .header:after {
        height: 40px;
    }

    .header-top p {
        margin-top: 1em;
    }

    .footer-grid {
        width: 100%;
        padding: 0 15x;
        margin-top: 3em;
    }

    .footer-top {
        padding: 0em 0 3em 0;
    }

    .footer:before {
        top: -8.8%;
    }

    h1.heading {
        font-size: 2em;
    }
}

@media screen and (max-width: 600px) {
    .view .content {
        width: 248px;
        height: 248px;
    }

}

@media screen and (max-width: 603px) {
    .view .content {
        width: 248px;
        height: 248px;
    }
}

@media screen and (max-width: 533px) {
    .view .content {
        width: 213px;
        height: 213px;
    }
}

@media screen and (max-width: 480px) {
    .header-top p {
        display: none;
    }

    .header {
        padding: 1em 0 0em 0;
    }

    .navigation {
        margin: 0.5em auto 0;
    }

    .header:after {
        height: 30px;
    }

    .col-md-4.service-grid {
        width: 100%;
    }

    .footer:before {
        top: -8.6%;
    }

    .footer-nav ul li a {
        font-size: 0.875em;
    }

    h1.heading {
        font-size: 1.8em;
        margin-bottom: 0;
    }

    .md-in {
        width: 100%;
    }

    .map iframe {
        min-height: 250px;
    }
}

@media screen and (max-width: 320px) {

    .navbar-toggle .icon-bar {
        width: 18px;
    }

    .navbar-toggle {
        padding: 7px 8px;
        margin-top: 4px;
        margin-right: 0;
    }

    .header:after {
        height: 25px;
    }

    .footer:before {
        top: -7%;
    }
}

